<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dashboard">
            <img src="../../../assets/icon/home.svg" alt="Home">
            Dashbord
        </ion-tab-button>
        <ion-tab-button tab="goals">
            <img src="../../../assets/icon/flag.svg" alt="Goals">
            Goals
        </ion-tab-button>
        <ion-tab-button tab="categories">
            <img src="../../../assets/icon/category.svg" alt="Categories">
            Categories
        </ion-tab-button>
        <ion-tab-button tab="account">
            <img src="../../../assets/icon/account.svg" alt="Account">
            Account
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>