.custom-header {
    box-shadow: none;
    
    ion-toolbar {
        --background: var(--primary-clr);
        padding: 0px;

        .custom-back-button{
            color: #fff;
            font-size: 24px;
        }

        .header-title {
            color: #fff;
            font-size: 18px;
            line-height: 32px;
            font-weight: 500;
            font-family: "DM Sans", serif;
            margin: 0;
            padding: 0px;
        }
    }
}

.goal-input{
    color: #747474;
    font-family: var(--dm-sans);
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
    --padding-start: 24px;
    --padding-end: 24px;
}
 
ion-footer {
    box-shadow: none;
    ion-toolbar {
        --padding: 0px;
        --background: #ffffff;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);

        ion-buttons{
            width: 50%;
            text-align: center;
            justify-content: center;

            ion-button{
                font-size: 17px;
                line-height: 96%;
                font-family: var(--dm-sans);
                width: 100%;
                padding: 10px;
                border-radius: 55px;
                margin: 10px;
                text-transform: none;
            }

            .cancel-button{
                color: var(--primary-clr);
                font-weight: 600;
                margin-right: 5px;
            }

            .continue-button {
                background-color: var(--primary-clr);
                color: #fff;
                font-weight: bold;
                margin-left: 5px;
            }
        }
    } 
}

.goals-bg{
    background-color: rgba(151, 32, 115, 0.05);
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding-bottom: 20px;
}
.goals-filter{
    padding: 16px;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);

    .goals-select{
        margin-bottom: 22px;

        ion-col{
            padding: 0px;
        }

        .title{
            font-family: var(--dm-sans);
            font-size: 15px;
            line-height: 96%;
            font-weight: 700;
            margin: 0px;
            margin-bottom: 10px;
        }

        .select-container {
            display: flex;
            flex-wrap: wrap;
            gap: 12px 16px;
    
            .select_option{
                border-radius: 30px;
                border: 1px solid #D9D9D9;
                background-color: transparent;
                color: #000;
                padding: 10px 20px;
                margin: 0px;
                font-family: var(--dm-sans);
                font-weight: 500;
                font-size: 14px;

                &.selected {
                    background-color: transparent;
                    border-color: var(--primary-clr);
                    color: var(--primary-clr);
                }
            }
        }
    }
}
    