
<ion-header [translucent]="true" class="custom-header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="" icon="arrow-back-circle" class="custom-back-button" (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title">
            Add a Goal
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
    <section class="goal-bar-container">
        <div class="bar-container" [class.bar-container-active]="isGoalDetailsFilled">
            <p class="goal-no goal-no-active">
                <span *ngIf="!isGoalDetailsFilled">1</span>
                <img src="../../assets/icon/success.svg" alt="success" *ngIf="isGoalDetailsFilled">
            </p>
            <progress [value]="progressValue" max="100"></progress>
            <p class="goal-no" [class.goal-no-active]="isGoalDetailsFilled">2</p>
        </div>
    </section>
    <div class="goals-bg" [class.d-none]="showSecondPage">  
        <ion-grid class="goals-filter">
            <ion-row class="goals-select">
                <ion-col size="12">
                    <h1 class="title">Category</h1>  
                    <div class="select-container">
                        <ion-chip *ngFor="let category of categories" (click)="toggleCategorySelection(category.subCategoryId)" [class.selected]="category.isActive == 'Y'" class="select_option">
                            {{ category.subCategoryName }}
                        </ion-chip>
                    </div>
                </ion-col>
            </ion-row>
            <ng-content *ngFor="let question of selectedCategory.questions; let questionId = index;">
                <ion-row class="goals-select">
                    <ion-col size="12">
                        <h1 class="title">{{question.question}}</h1>  
                        <div class="select-container">
                            <ion-chip *ngFor="let option of question.options; let optionId = index;" (click)="toggleQuestionSelection(questionId, optionId)" [class.selected]="question.selectedOption == option.id" class="select_option">
                                {{ option.option_value }}
                            </ion-chip>
                        </div>
                    </ion-col>
                </ion-row>
            </ng-content>
        </ion-grid>
    </div>
    <app-target-goals [class.d-none]="!showSecondPage"></app-target-goals>
</ion-content>


<ion-footer>
    <ion-toolbar [class.d-none]="showSecondPage">
        <ion-button (click)="onCancel()" class="cancel-button" slot="start">Cancel</ion-button>
        <ion-button (click)="onContinue()" class="continue-button" slot="end">Continue</ion-button>
    </ion-toolbar>

    <ion-toolbar [class.d-none]="!showSecondPage">
        <ion-button (click)="onCancel()"  class="cancel-button" slot="start">Back</ion-button>
        <ion-button class="continue-button" [routerLink]="['/tabs/goals']" (click)="saveGoal()" slot="end">Save</ion-button>
    </ion-toolbar>
</ion-footer>