.custom-header {
    box-shadow: none;
    
    ion-toolbar {
        --background: var(--primary-clr);
        padding: 0px;

        .custom-back-button{
            color: #fff;
            font-size: 24px;
        }

        .header-title {
            color: #fff;
            font-size: 18px;
            line-height: 32px;
            font-weight: 500;
            font-family: "DM Sans", serif;
            margin: 0;
            padding: 0px;
        }
    }
}


.goals-filter{
    padding: 16px;

    .goals-select{
        margin-bottom: 22px;

        ion-col{
            padding: 0px;
        }

        .title{
            font-family: var(--dm-sans);
            font-size: 15px;
            line-height: 96%;
            font-weight: 700;
            margin: 0px;
            margin-bottom: 10px;
        }

        .select-container {
            display: flex;
            flex-wrap: wrap;
            gap: 12px 16px;
    
            .select_option{
                border-radius: 30px;
                border: 1px solid #D9D9D9;
                background-color: transparent;
                color: #000;
                padding: 10px 20px;
                margin: 0px;
                font-family: var(--dm-sans);
                font-weight: 500;
                font-size: 14px;

                &.selected {
                    background-color: transparent;
                    border-color: var(--primary-clr);
                    color: var(--primary-clr);
                }
            }
        }
    }
}
    