ion-grid{
    padding: 15px;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
}

ion-col{
    padding: 0px;
}

.goals-bg{
    background-color: rgba(151, 32, 115, 0.05);
    width: 100%;
    min-height: 100%;
    height: auto;
    padding-bottom: 20px;
}

.custom-header {
    box-shadow: none;
    
    ion-toolbar {
        --background: var(--primary-clr);
        padding: 0px;

        .custom-back-button{
            color: #fff;
            font-size: 24px;
        }

        .header-title {
            color: #fff;
            font-size: 18px;
            line-height: 32px;
            font-weight: 500;
            font-family: "DM Sans", serif;
            margin: 0;
            padding: 0px;
        }
    }
}

.title{
    font-family: var(--dm-sans);
    line-height: 96%;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    margin: 0px;
    margin-bottom: 10px;

    &.subtitle{
        margin-bottom: 18px;
    }
}

.target-head{
    margin-bottom: 30px;

    .goal-input{
        color: #747474;
        font-family: var(--dm-sans);
        line-height: 20px;
        font-size: 15px;
        font-weight: 500;
        --padding-start: 24px;
        --padding-end: 24px;

        &.has-focus{
            --border-color: var(--primary-clr);
            --highlight-color-focused: var(--primary-clr);
        }
    }
}

progress {
    background: transparent;
    height: 8px;
    width: 100%;
    margin-bottom: 10px;
    &::-webkit-progress-value {
        background: var(--primary-clr);
        border-radius: 4px;
    }
    &::-webkit-progress-bar {
        background: #E8E9F1;
        border-radius: 4px;
    }
}

.prog_range{
    display: flex;
    justify-content: space-between;

    p{
        font-family: var(--dm-sans);
        line-height: 96%;
        font-size: 15px;
        font-weight: 600;
        color: #222B45;
        margin: 0px 0px 10px 0px;
    }
}

ion-footer {
    box-shadow: none;
    ion-toolbar {
        --padding: 0px;
        --background: #ffffff;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);

        ion-buttons{
            width: 50%;
            text-align: center;
            justify-content: center;

            ion-button{
                font-size: 17px;
                line-height: 96%;
                font-family: var(--dm-sans);
                width: 100%;
                padding: 10px;
                border-radius: 55px;
                margin: 10px;
                text-transform: none;
            }

            .cancel-button{
                color: var(--primary-clr);
                font-weight: 600;
                margin-right: 5px;
            }

            .continue-button {
                background-color: var(--primary-clr);
                color: #fff;
                font-weight: bold;
                margin-left: 5px;
            }
        }
    } 
}