.header{
    padding: 0px;

    .header-bg{
        position: absolute;
        width: 100%;

        .bg-img {
            width: 100%;
            height: auto;
            background-color: var(--primary-clr);
        }
    }
    .header-content{
        position: relative;
        text-align: center;
        padding: 40px 30px 20px; 

        .logo{
            margin-bottom: 30px;
        }

        .title {
            font-size: 28px;
            font-weight: bold;
            font-family: "DM Sans", serif;
            margin-top: 0px;
            color: #fff;
            line-height: 30px;
            margin-bottom: 10px;
        }

        .subtitle {
            font-size: 12px;
            color: #fff;
            font-weight: 500;
            font-family: "Roboto", serif;
            margin-bottom: 20px;
            line-height: 16px;
            margin: 0px;
        }
    }
}
.signup-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    z-index: 1;
    position: relative;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    
    .signup-item{
        margin-bottom: 16px;
        border-radius: 8px;
        box-shadow: 0px 0px 0px 2px #E2E8F0;

        &.phone{
            margin-bottom: 25px;
        }

        ion-input{
            font-size: 15px;
            line-height: 20px;
            font-weight: 500;
            font-family: "DM Sans", serif;

            label{
                color: var(--secondary-clr) !important;
            }
        }

        .signup-form-icon{
            position: absolute;
            padding: 15px 24px;
        }

        .signup-input{
            position: relative;
            --padding-start: 60px !important;
            --padding-end: 15px !important;
            min-height: 55px;
        }
    }

    .signup-button {
        --background: var(--primary-clr);
        --background-hover: #931d6a;
        --background-activated: #d5399f;
        --background-focused: #d5399f;
           min-height:55px;
        --color: #fff;
        --border-radius: 8px;
        --border-style: solid;
        --border-width: 0px;
        text-transform: none;
        --padding: 15px;
        margin-bottom: 24px;
        font-weight: bold;
        font-family: "DM Sans", serif;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }    

    .divider-container {
        margin-bottom: 25px;

        .divider-text {
            margin: 0 10px;
            color: var(--secondary-clr);
            font-size: 14px;
            font-family: "DM Sans", serif;
            font-weight: 600;

            &:before, &:after {
                display: inline-block;
                content: "";
                border-top: 2px solid #CBD5E1;
                width: 20%;
                margin: 0 1rem;
                transform: translateY(-0.2rem);
            }
        }
    }

    .media-header{
        margin-bottom: 10px;

        .media-button{
            --background: transparent;
            --background-hover: transparent;
            --background-activated: transparent;
            --background-focused: transparent;
            min-height: 55px;
            --color: var(--secondary-clr);
            --border-radius: 8px;
            --border-style: solid;
            --border-color: #CBD5E1;
            --border-width: 2px;
            text-transform: none;
            --padding: 15px;
            --box-shadow:none;
            margin: 0;

            .media-icons{
                margin-right: 8px;
            }

            .media-text{
                font-size: 14px;
                color: var(--secondary-clr);
                font-weight: 500;
                font-family: "DM Sans", serif;
                letter-spacing: 0;
            }
        }
    }

    .signup-text {
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        font-family: "Inter", serif;
        color: var(--secondary-clr);

        
        a {
            color: #9c27b0;
            text-decoration: none;
        }
    }

}

ion-item, ion-item  * {
    --inner-border-width: 0px;
    /* padding-left: 0px !important; */
    --padding-start: 0px;
    --inner-padding-end: 0px;
}






