<ion-content>
    <div class="home-bg">
        <ion-grid class="header" >
            <ion-row class="header_name_content">
                <p class="wle_name">Hello <span>Andrea Johnson</span></p>
            </ion-row>
            <ion-row class="header_content">
                <h2 class="wle_head">{{greeting}}!</h2>
            </ion-row>
        </ion-grid>


        <ion-grid class="profile_alert" >
            <ion-row class="alert_header">
                <p class="title">Profile Completion - 70%.</p>
                <span class="subtitle">Last Updated on 20th November 2024</span>
            </ion-row>
        </ion-grid>

        <ion-grid class="products_card">
            <ion-row class="card_header">
                <h2 class="title">Products for your Hair</h2>
            </ion-row>
            <swiper-container [slidesPerView]="1.8" [loop]="true" class="slider_head">
                <swiper-slide class="slider_card" [routerLink]="'/products'">
                    <div class="slider_img">
                        <img src="../../../assets/images/prod-1.png" alt="products">
                    </div>
                    <div class="slider_content">
                        <div class="rating_head">
                            <span class="title">TRESemmé</span>
                            <span class="rating_star"><img src="../../../assets/icon/star.png" alt="star" >4.5</span>
                        </div>
                        <div class="description">
                            <p>TRESemme Extra Hold Frizz Control Hairspray, 11 oz</p>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide class="slider_card">
                    <div class="slider_img">
                        <img src="../../../assets/images/prod-2.png" alt="products">
                    </div>
                    <div class="slider_content">
                        <div class="rating_head">
                            <span class="title">TRESemmé</span>
                            <span class="rating_star"><img src="../../../assets/icon/star.png" alt="star" >4.5</span>
                        </div>
                        <div class="description">
                            <p>Schwarzkopf Keratin Color Permanent Hair Color, 1.1 Midnight Black</p>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide class="slider_card">
                    <div class="slider_img">
                        <img src="../../../assets/images/prod-3.png" alt="products">
                    </div>
                    <div class="slider_content">
                        <div class="rating_head">
                            <span class="title">TRESemmé</span>
                            <span class="rating_star"><img src="../../../assets/icon/star.png" alt="star" >4.5</span>
                        </div>
                        <div class="description">
                            <p>TRESemme Extra Hold Frizz Control Hairspray, 11 oz</p>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide class="slider_card">
                    <div class="slider_img">
                        <img src="../../../assets/images/prod-4.png" alt="products">
                    </div>
                    <div class="slider_content">
                        <div class="rating_head">
                            <span class="title">TRESemmé</span>
                            <span class="rating_star"><img src="../../../assets/icon/star.png" alt="star" >4.5</span>
                        </div>
                        <div class="description">
                            <p>TRESemme Extra Hold Frizz Control Hairspray, 11 oz</p>
                        </div>
                    </div>
                </swiper-slide>
              </swiper-container>
        </ion-grid>

        <ion-grid class="products_card">
            <ion-row class="card_header">
                <h2 class="title">Products for your Skin</h2>
            </ion-row>
            <swiper-container [slidesPerView]="1.8" [loop]="true" class="slider_head">
                <swiper-slide class="slider_card">
                    <div class="slider_img">
                        <img src="../../../assets/images/prod-3.png" alt="products">
                    </div>
                    <div class="slider_content">
                        <div class="rating_head">
                            <span class="title">TRESemmé</span>
                            <span class="rating_star"><img src="../../../assets/icon/star.png" alt="star" >4.5</span>
                        </div>
                        <div class="description">
                            <p>TRESemme Extra Hold Frizz Control Hairspray, 11 oz</p>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide class="slider_card">
                    <div class="slider_img">
                        <img src="../../../assets/images/prod-4.png" alt="products">
                    </div>
                    <div class="slider_content">
                        <div class="rating_head">
                            <span class="title">TRESemmé</span>
                            <span class="rating_star"><img src="../../../assets/icon/star.png" alt="star" >4.5</span>
                        </div>
                        <div class="description">
                            <p>Schwarzkopf Keratin Color Permanent Hair Color, 1.1 Midnight Black</p>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide class="slider_card">
                    <div class="slider_img">
                        <img src="../../../assets/images/prod-1.png" alt="products">
                    </div>
                    <div class="slider_content">
                        <div class="rating_head">
                            <span class="title">TRESemmé</span>
                            <span class="rating_star"><img src="../../../assets/icon/star.png" alt="star" >4.5</span>
                        </div>
                        <div class="description">
                            <p>TRESemme Extra Hold Frizz Control Hairspray, 11 oz</p>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide class="slider_card">
                    <div class="slider_img">
                        <img src="../../../assets/images/prod-2.png" alt="products">
                    </div>
                    <div class="slider_content">
                        <div class="rating_head">
                            <span class="title">TRESemmé</span>
                            <span class="rating_star"><img src="../../../assets/icon/star.png" alt="star" >4.5</span>
                        </div>
                        <div class="description">
                            <p>TRESemme Extra Hold Frizz Control Hairspray, 11 oz</p>
                        </div>
                    </div>
                </swiper-slide>
            </swiper-container>
        </ion-grid>
        
        <ion-grid class="products_card">
            <ion-row class="card_header">
                <h2 class="title">Products for your Skin</h2>
            </ion-row>
            <swiper-container [slidesPerView]="1.8" [loop]="true" class="slider_head">
                <swiper-slide class="slider_card">
                    <div class="slider_img">
                        <img src="../../../assets/images/prod-3.png" alt="products">
                    </div>
                    <div class="slider_content">
                        <div class="rating_head">
                            <span class="title">TRESemmé</span>
                            <span class="rating_star"><img src="../../../assets/icon/star.png" alt="star" >4.5</span>
                        </div>
                        <div class="description">
                            <p>TRESemme Extra Hold Frizz Control Hairspray, 11 oz</p>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide class="slider_card">
                    <div class="slider_img">
                        <img src="../../../assets/images/prod-4.png" alt="products">
                    </div>
                    <div class="slider_content">
                        <div class="rating_head">
                            <span class="title">TRESemmé</span>
                            <span class="rating_star"><img src="../../../assets/icon/star.png" alt="star" >4.5</span>
                        </div>
                        <div class="description">
                            <p>Schwarzkopf Keratin Color Permanent Hair Color, 1.1 Midnight Black</p>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide class="slider_card">
                    <div class="slider_img">
                        <img src="../../../assets/images/prod-1.png" alt="products">
                    </div>
                    <div class="slider_content">
                        <div class="rating_head">
                            <span class="title">TRESemmé</span>
                            <span class="rating_star"><img src="../../../assets/icon/star.png" alt="star" >4.5</span>
                        </div>
                        <div class="description">
                            <p>TRESemme Extra Hold Frizz Control Hairspray, 11 oz</p>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide class="slider_card">
                    <div class="slider_img">
                        <img src="../../../assets/images/prod-2.png" alt="products">
                    </div>
                    <div class="slider_content">
                        <div class="rating_head">
                            <span class="title">TRESemmé</span>
                            <span class="rating_star"><img src="../../../assets/icon/star.png" alt="star" >4.5</span>
                        </div>
                        <div class="description">
                            <p>TRESemme Extra Hold Frizz Control Hairspray, 11 oz</p>
                        </div>
                    </div>
                </swiper-slide>
            </swiper-container>
        </ion-grid>
    </div>
</ion-content>